**Q1. What is a database? Differentiate between SQL and NoSQL databases.**

A database is a structured collection of data that is organized and stored in a way that allows efficient retrieval, management, and manipulation of the data. 

Difference between SQL and NoSQL:

1. SQL (Structured Query Language) databases are based on the relational model, which organizes data into tables with predefined schemas whereas NoSQL (Not only SQL) databases use various data models that are non-relational, providing flexibility and scalability.

2. We use SQL as the standard language for managing and manipulating data. while NoSQL are designed to handle large volumes of unstructured, semi-structured, or rapidly changing data.

**Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.**

DDL stands for Data Definition Language. It is a subset of SQL that is used to define and manage the structure of a database and its objects, such as tables, indexes, constraints, and views. These statements are responsible for creating, altering, and dropping database objects.

**1.CREATE**

The CREATE statement is used to create new database objects, such as tables, indexes, or views.


**Example:**

CREATE TABLE Employees (
  ID INT,
  Name VARCHAR(50),
  Age INT,
  Salary DECIMAL(10,2)
);

**2. DROP**
The DROP statement is used to remove or delete existing database objects.

DRPO TABLE Employee;

**3.ALTER**:

The ALTER statement is used to modify the structure of an existing database object, such as adding or dropping columns, modifying constraints, or renaming objects.

**Example**:

ALTER TABLE Employee
ADD COLUMN Department VARCHAR(250);

**4. TRUNCATE**:

The TRUNCATE statement is used to remove all data from a table, but keeps the table structure intact.

**Example**:

TRUNCATE TABLE Employees;

**Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.**

DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to manipulate and modify data within a database.

**1. INSERT**:

The INSERT statement is used to add new rows of data into a table.

**Example**:

INSERT INTO Employees (ID, Name, Age, Salary) 
VALUES (1, 'Sam dung', 30, 45000);

**2. UPDATE**:
The UPDATE statement is used to modify existing data within a table.

**Example**:

UPDATE Employees
SET Salary = 55000
WHERE ID = 1;

**3. DELETE**:

The DELETE statement is used to remove one or more rows from a table.

**Example**:

DELETE FROM Employees
WHERE ID = 1;

**Q4. What is DQL? Explain SELECT with an example.**

DQL stands for Data Query Language, and it is a sub-language of Structured Query Language (SQL) that is used to retrieve data from a database.

**SELECT**:

The SELECT statement allows you to specify the columns you want to retrieve and define conditions for filtering the data.

**Example**:

SELECT ID, Name, Age,Salary, Department
FROM Employees
WHERE Salary > 50000;

**Q5. Explain Primary Key and Foreign Key.**

**Primary Key**:
    
A primary key is a column or a set of columns in a database table that uniquely identifies each record (row) in the table. 

**Foreign Key**:

A foreign key is a column or a set of columns in a database table that establishes a link or relationship between two tables.

**Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.**

In [ ]:
###Python code to connect MySQL to python
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

**cursor()**: 

This method creates a cursor object, which allows you to execute SQL queries and retrieve results.


**execute()**:

This method is used to execute an SQL query. You pass the query as a parameter to this method.

**Q7. Give the order of execution of SQL clauses in an SQL query.**

The order of execution of SQL clauses in an SQL query:

1. SELECT
2. FROM
3. JOIN
4. WHERE
5. GROUP BY
6. HAVING 
7. DISTINCT
8. ORDER BY
9. LIMIT